img.icon{
    border-radius: 0px;
    max-width: 20px;
    max-height: 20px;
}

ion-card.loginCard{
    max-width: 500px;
    text-align: center;
   
}


div.center{
    text-align: center;
    display: flex; align-items: center; justify-content: center;
}



