<ion-toolbar color="dark">
  <!----- <ion-buttons slot="start">
    <ion-button (click)="login()">
      <ion-icon class="title" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>----->
  <ion-buttons slot="end">
    <ion-button color="light" routerLink="/">
      Back
    </ion-button>
  
  </ion-buttons>
  <ion-title class="title" >
    <table>
      <tr>
        <td>
          <ion-img class="icon" src="/../assets/icon/favicon.png"></ion-img>
        </td>
        <td>&nbsp;Sidecar</td>
      </tr>
    </table></ion-title
  >
</ion-toolbar>
<ion-toolbar color="light">
  <ion-title> </ion-title>
</ion-toolbar>
<ion-content color="light" padding>
 
    <div class="center">
      <ion-card class="loginCard">
        <ion-card-content>
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col>
                <div padding>
                  <ion-card>
                    <ion-item>
                      <ion-avatar slot="start">
                        <img
                          class="icon"
                          src="/../assets/person-circle-outline.svg"
                        />
                      </ion-avatar>
                      <ion-label>
                        <ion-input
                          id="user"
                          type="text"
                          [(ngModel)]="this.username"
                          placeholder="Username"
                        ></ion-input>
                      </ion-label>
                    </ion-item>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div padding>
                  <ion-card>
                    <ion-item>
                      <ion-avatar slot="start">
                        <img class="icon" src="/../assets/key-outline.svg" />
                      </ion-avatar>
                      <ion-label>
                        <ion-input
                          [(ngModel)]="this.password"
                          [type]="this.passwordVisibility"
                          placeholder="Password"
                     
                        >
                        </ion-input>
                      </ion-label>
                    </ion-item>

                    <ion-button
                      expand="block"
                      (click)="passVisible()"
                      color="light"
                    >
                      <ion-icon
                        *ngIf="this.passwordVisibility === 'password'"
                        name="eye-outline"
                      ></ion-icon>
                      <ion-icon
                        *ngIf="this.passwordVisibility === 'text'"
                        name="eye-off-outline"
                      ></ion-icon>
                    </ion-button>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button routerLink="" expand="block" color="primary">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="onClick()" expand="block" color="primary">
                  Login
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>

<ion-toolbar color="dark">
  <ion-text color="" class="ion-align-items-center">
    <div style="text-align: center">
      <p>
        All Rights Reserved. ™ by
        <a target="_blank" color="light" href="https://sakbran.github.io"
          >Sak Bran</a
        >
      </p>
    </div>
  </ion-text>
</ion-toolbar>
