@media only screen and (max-width: 600px) {
ion-card.search{
    background-image: url("../../../assets/mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 667px;
    text-align: justify;
    border-radius: 0px;
    margin: 0px;
}   

ion-card-content.searchContent{

    margin-top: 200px;
    min-height: 500px;
    max-width: 500px;

}
}

@media only screen and (min-width: 601px) {
    ion-card.search{
        background-image: url("../../../assets/desktop.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 667px;
        text-align: justify;
        border-radius: 0px;
        margin: 0px;
        
    }   

    ion-card-content.searchContent{
        border-radius: 20px;
        background-color: rgb(242, 186, 10);
        margin-top: 200px;
        margin-left: 20px;
        min-height: auto;
        max-width: 500px;
    
    }
    }


    ion-slides.foot{
        background-color: #222428;
    }

h1.searchTitle{
    line-height: 1.8;
}

ion-title,ion-icon.title{
    color: #ffe400 !important;
}

