<ion-content>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>

<app-resturant-individual-order></app-resturant-individual-order>
</ion-content>