<ion-header translucent>
  <ion-toolbar color="success">
    <ion-title>Item Management Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src='/../assets/food.svg'>
      </ion-avatar>
      <ion-label>
        <h2>Fried Chicken</h2>
        <h3>1000</h3>
        <p>KFC</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>


      <ion-item>
        <ion-avatar slot="start">
          <img src='/../assets/number.svg'>
        </ion-avatar>
        <ion-label>
          <h2>Please enter the quantity</h2>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>


      <ion-item>
        <ion-avatar slot="start">
          <img src='/../assets/sale.svg'>
        </ion-avatar>
        <ion-label>
          <h2 color="primary">Please enter the Discount amount</h2>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Discount</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src='/../assets/money.svg'>
      </ion-avatar>
      <ion-label>
        <h2>Total</h2>
        <h3>1000</h3>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="this.appSetting.adminProcess='list'" color="danger" >
          Back
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="this.appSetting.adminProcess='list'" color="primary" >
          Add to Invoice
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>