ion-content,
ion-content{

    padding-bottom: 0px !important;

}

inner-scroll scroll-y overscroll{
    padding-bottom: 0px !important;

}


div.center{
    text-align: center;
    display: flex; align-items: center; justify-content: center;
}
