    <ion-card *ngFor="let i of list">
      <ion-item>
        <ion-avatar slot="start">
          <img src='/../assets/food-delivery.svg'>
        </ion-avatar>
        <ion-label>
          <h2>Ko Aung Aung</h2>
          <h3>Estimate distance in KM:1000</h3>
          <p>NPT-0520121</p>
          <p>Ph:0920154786</p>
         
          
        </ion-label>
        
        <ion-button color="secondary">
          Select
        </ion-button>
      </ion-item>

        <ion-item lines="none">
          <ion-checkbox  color="danger" slot="start"></ion-checkbox>
          <ion-label color="danger">Emegency</ion-label>
        </ion-item>
 
    </ion-card>