<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="secondary">{{this.foodName(orderDetail.itemID).toString()}} <br/>Quantity: {{orderDetail.itemQty}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>
        <p>Discount:{{orderDetail.discount}}</p>
        <p>Price:{{orderDetail.itemFinalPrice}}</p>
       
      </ion-label>
      <ion-checkbox [(ngModel)]="available" (ngModelChange)="resendListFun($event)"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="success">
        <p>Remark:{{orderDetail.remark}}</p>
      </ion-label>
    </ion-item>
    <ng-container *ngIf="this.available === false">
      <ion-item>
        <ion-label color="danger" position="floating">Comment</ion-label>
        <ion-input
        [(ngModel)]="this.comment"
        (ngModelChange)="resendListKeyPress($event)"
          type="text"
          placeholder="eg: Only four item available"
        ></ion-input>
      </ion-item>
    </ng-container>
  </ion-card-content>
</ion-card>
