
      <ion-card button>
        <ion-card-header>
          <ion-card-subtitle>User account setting</ion-card-subtitle>
          <ion-card-title>User</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-avatar>
            <img src='/../assets/person.svg' />
          </ion-avatar>
        </ion-card-content>
      </ion-card>

      <ion-card button>
        <ion-card-header>
          <ion-card-subtitle>Resturant account setting</ion-card-subtitle>
          <ion-card-title>Resturant</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-avatar>
            <img src='/../assets/food.svg' />
          </ion-avatar>
        </ion-card-content>
      </ion-card>
  