<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="report" button>
        <ion-card-header>
          <ion-card-subtitle>User account setting</ion-card-subtitle>
          <ion-card-title>User Section</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src='/../assets/person.svg' />
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card button>
        <ion-card-header>
          <ion-card-subtitle>Resturant setting</ion-card-subtitle>
          <ion-card-title>Resturant Section</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src='/../assets/food.svg' />
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>